*{
    margin: 0;
    border: 0;
}
body{
display: flex;
flex-direction: column;
}


#para1, #button{
    margin:0 auto;
    text-justify: auto;
    text-align: center;
    font-size: 4rem;
    perspective: 200px;

}
