*{
    margin: 0;
    border: 0;
}

body {
    position: flex;
    flex-direction: column;
    border: 0;
    
}

h1{
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 4rem;
}


#theForm{
    margin: 0 auto;
    width: 5rem;
    display: table;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    color: black;

}
.row{
    display: table-row;
}