/* sorry i tampered with your code, am not trying to claim or anything.
/* pls just ignore it, i only felt that your code needs some correction */

*{
    margin: 0;
    border: 0;
}

body {
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;

    font-weight: bold;
}

.container-form{
    margin: 0 auto;
    color: grey;
    padding: 2rem;
    display: flex;
    flex-direction: column;


}

h2{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
}
 

.theForm{
    display: table;
    background-color:rgba(10, 174, 125, 0.784);
    color: #ffff;
    font-size: 2.4rem;
    border: 4px solid black;
    padding: 14px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row{
    display: table-row;

}

.row label {
    display:table-cell;
     font: 2px;
}

.row input{
    display: table-cell; 
} 

.row #Name{
    padding: 5px;
   font-size: 20px;
}

.btn{
    width: 7rem;
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    border: none;
    margin: 1rem auto;
    transition: all .3s ease-in;
}

.btn:hover{
    background-color: rgba(10, 174, 125, 0.784);
    color: white;
} */

#countLabel {
    display: block;
    text-align: center;
    font: 23rem;
    float: center;
}
#Container{
    flex: content;
    display: block;
    flex-direction: inherit;
    font-size: 32px;
}

p {
    flex: content;
    display: block;
    flex-direction: inherit;
    font-size: 32px;
}

/* color Generator */

.count-color{
    font-size: 3.5rem;
    display: flex;
    
}

button {
    
    aspect-ratio: 2/1;
}